.search {

    .menu {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;
    }
  
    .menuContent {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  
    .menuBtn {
      min-height: 32px;
      padding: 0 13px;
      border-radius: 6px;
      background-color: #F2EFE9;
      color: var(--dark-color);
      font-size: 14px;
      font-weight: 400;
    }
  
    .menuText {
      display: block;
      font-size: 14px;
      font-weight: 400;
      color: var(--dark-color);
      line-height: 18px;
    }
  
    .list {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 20px;
    }
  
    .content {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }
  
    .description {
      display: flex;
      align-items: flex-start;
      gap: 15px;
    }
  
    .link {
      display: block;
      font-size: 16px;
      font-weight: 700;
      color: var(--accent-color-2);
      line-height: 24px;
  
      &:hover{
        color: var(--hover-color);
      }
    }
  
    .descriptionText {
      display: block;
      font-size: 16px;
      font-weight: 400;
      color: var(--grey-color);
      line-height: 24px;
    }
  }