.swiper {
  margin-bottom: 20px;
}

.title {
  font-size: 25px;
  font-weight: 800;
  line-height: 30px;
  color: var(--dark-color);
  margin: 0 0 20px;
}

.text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  color: var(--dark-color);
  max-width: 720px;
  margin: 0;
}
.link {
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;

  &:hover {
    color: var(--hover-color);
  }
}
