.defender {
    max-width: 720px;
  
    .inner {
      padding-top: 30px;
      padding-left: 5px;
    }
  
    .title {
      font-size: 32px;
      font-weight: 800;
      line-height: 36px;
      color: var(--dark-color);
      margin: 0 0 25px;
    }
  
    .text {
      font-size: 16px;
      font-weight: 400;
      line-height: 22px;
      color: var(--grey-color);
      margin: 0;
    }
  
    .container {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 50px;
    }
  
    .containerTitle {
      font-size: 25px;
      font-weight: 800;
      line-height: 36px;
      color: var(--dark-color);
      margin: 0 0 15px;
    }
  
    .content {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      gap: 20px;
    }
  
    .description {
      max-width: 530px;
    }
  
    ul{
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 20px;
  
      & li{
        position: relative;
  
        & span{
          display: block;
          position: absolute;
          top: 0;
          right: 0;
          font-size: 16px;
          font-weight: 400;
          color: var(--grey-color);
        }
      }
    }
  
    .btn {
      position: absolute;
      bottom: 0;
      right: 0;
      min-width: 32px;
      min-height: 32px;
      max-width: 32px;
      max-height: 32px;
      padding: 5px;
      background-color: #F2EFE9;
      border-radius: 6px;
    }
  
    .input {
      display: block;
      min-width: 205px;
      min-height: 40px;
      padding: 0 15px;
      background-color: #F2F1F0;
      border-radius: 6px;
  
      &:focus{
        box-shadow: rgb(128, 212, 255) 0px 0px 0px 3px;
      }
    }
  
    .submit {
      display: block;
      padding: 0 17px;
      min-height: 40px;
      border-radius: 6px;
      background-color: var(--accent-color-2);
      color: var(--light-color);
      font-size: 16px;
      font-weight: 400;
    }
  }
  