.inner {
  padding-top: 70px;
}
.title {
  font-size: 25px;
  font-weight: 900;
  line-height: 30px;
  color: var(--dark-color);
  margin-bottom: 20px;
}
.text {
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  color: var(--dark-color);
}
