.filter {
    min-width: 300px;
    max-width: 300px;
  .title {
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    color: var(--dark-color);
    margin-bottom: 6px;
    padding-left: 6px;
  }

  .item {
    width: 100%;
  }

  .link {
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--dark-color);
    fill: var(--dark-color);
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;

    &:hover {
      color: var(--hover-color);
      fill: var(--hover-color);
    }
  }

  .subtitle {
    display: block;

    color: var(--dark-color);
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    margin: 5px 0;
    padding-left: 6px;
  }

  .list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    padding-left: 18px;
  }
}
