.inner {
  position: relative;
  background-color: #f7f7f5;
  padding: 16px;
  border-radius: 16px;
}
.link {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.title {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 0 0 10px;
  font-size: 26px;
  font-weight: 700;
  line-height: 30px;
  color: var(--dark-color);
}
.title svg {
  transform: rotate(90deg);
  padding: 4px;
  border-radius: 50%;
  background-color: var(--dark-color);
  fill: var(--light-color);
}
