.category {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 5px;
  margin-bottom: 20px;
  padding-left: 10px;
}

.categoryBtn {
  padding: 6px 16px 8px;
  border-radius: 6px;
  background-color: #ebebeb;
  font-size: 13px;
  font-weight: 400;
  color: var(--dark-color);
  white-space: nowrap;
}

.sort {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 400;
  color: var(--dark-color);
  padding-left: 10px;

  svg {
    width: 16px;
    height: 16px;
  }
}
