.card {
    padding: 5px;
    background: var(--light-color);
}
.picture {
    overflow: hidden;
    height: 177px;
    width: 236px;

    img {
        height: 177px;
        width: 236px;
        overflow: hidden;
    }
}
.description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 5px;
}
.content {
    position: relative;
}
.title {
    margin: 0;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    color: var(--accent-color-2);
    max-width: 80%;
    text-align: left;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.price {
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--dark-color);
    font-size: 16px;
    line-height: 20px;
    margin: 5px 0 0;

    strong {
        max-width: 200px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &:after{
            content: ' ₽';
        }
    }
}
.oldPrice {
    display: flex;
    align-items: center;
    gap: 10px;

    & span {
        color: #858585;
        text-decoration: line-through;
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        max-width: 100px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &:after{
            content: ' ₽';
        }
    }
}
.discount {
    text-decoration: none !important;
    color: #ff4053 !important;
    max-width: 50px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &::after {
        content: "%";
    }
}
.text {
    color: #858585;
    font-size: 14px;
    font-weight: 400;
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.btn {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 25px;
    height: 25px;
}

.icon{
    fill: var(--accent-color-2);
    width: 20px;
    height: 20px;
}